  /* CSS Reset */
  body{
    color: white;
    margin: 0px;
    padding: 0px;
    background: url('img/bag.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Baloo Bhaina 2', cursive;
}
.left{
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 20px;
    text-align: center;
    color: #696864;
    line-height: 21px;
    font-size: 22px;
    
}
.mid{
    display:block;
    margin: 20px auto;
    width: 40%;
    
}
.right{
    display: inline-block;
    position: absolute;
    right: 20px;
    top: 20px;
    
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    font-size: 18px;
    padding: 2px 12px;
}
.navbar li a{
    color: white;
    text-decoration: none;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration:underline;
    color: gray;
}
.left img{
    width: 72px;
    border-radius: 23px;
}
.btn{
    margin: 0px 9px;
    color: black;
    background: transparent;
    padding: 2px 3px;
    border: 2px solid #9c9c9c;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
}
.btn:hover{
    background-color: gray;
}
.container{

    border: 2px solid #965f4a;
    margin: 70px 136px;
    width: 33%;
    padding: 60px 10px;
    border-radius: 40px;
}
.container h1{
    text-align: center;
}
.form-group input{
    padding: 4px 80px;
    margin: 7px auto;
    border-radius: 8px;
    text-align: center;
    display: block;
    width: 34%;
    font-size: 16px;
    border: 2px solid black;
    background: #beb8aa;
}
.container button{
    display: block;
    width: 37%;
    margin:20px auto;
}